* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    padding: 10px 15px;
}

ul{
    list-style: none;
}

.header-banner{
    text-align: center;
    color: orange;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    background: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 100px 100px ;
}
 section{
    margin-bottom: 10px;
    padding: 0 50px;
 }

 .cook-time__header {
    display: inline-block;
    font-size: 2.5em;
    text-transform: none;
    margin-right: 0.5em;
 }

 .cook-time__header {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: underline .75px;
    font-style: italic;
 }

 .cook-time__value{
    display: inline-block;
 }

 .element__list dt{
    text-decoration: underline .5px;
 }

 .element__list dt::after{
    content: ":";
 }
.element__list dt, .element__list dd{
    display: inline-block;
}

.cooking__process{
    list-style-type: none;
    list-style-position: inside;
    counter-reset: number;
}

.cooking__step::before{
    content: "Шаг " counter(number);
    counter-increment: number;
    font-weight: bold;
    min-width: 60px;
}

.cooking-step__desc{
    font-size: 1em;
    display: inline-block;
    margin-right: 20px;
    max-width: calc(100%-600px);
    vertical-align: top;
    padding: 5px 10px;
    align-items: start;
}
.cooking-step__img{
    max-width: 400px;
    vertical-align: middle;
    display: inline-block;
}

.cooking__note{
    clear: both;
}

.cooking-step{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}